html,
body {
    height: 100%;
    margin: 0;
    min-height: 100%;
}

#map {
    width: 100%;
    min-height: 285px;
    height: 98%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.grid-container {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
}

.two-columns {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 5px;
}

.three-columns {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

.tooltip-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

#statusGPS {
    align-items: center;
    display: flex;
}

#statusLightGPS {
    background-color: #e7b416;
    border-radius: 9999px;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
}

#statusLabelGPS {
    flex: 1;
}
