[Unit]
Description=button reboot shutdown service

[Service]
Type=simple
User=pi
Restart=on-failure
WorkingDirectory=/home/pi
ExecStart=/home/gpstracker/GPSTracker/gps_tracker/button_reboot_shutdown.py

[Install]
WantedBy=multi-user.target
