[Unit]
Description=Host an API to access GPS tracking and sensor data
After=redis-server.service

[Service]
Type=simple
User=gpstracker
Restart=on-failure
WorkingDirectory=/home/gpstracker/GPSTracker/gps_tracker
ExecStart=/home/gpstracker/GPSTracker/gps_tracker/backend_raspi.py

[Install]
WantedBy=multi-user.target
