[Unit]
Description=Host an API to access GPS tracking and sensor data
After=redis-server.service

[Service]
Type=simple
User=gpstracker
Restart=on-failure
ExecStart=/usr/local/bin/uvicorn backend_fastapi:app --host 0.0.0.0 --port 8080
WorkingDirectory=/home/gpstracker/GPSTracker/gps_tracker

[Install]
WantedBy=multi-user.target
