[Unit]
Description=Merge GPS and barometric data with additional information
After=redis-server.service

[Service]
Type=simple
User=gpstracker
Restart=on-failure
ExecStart=/home/gpstracker/GPSTracker/gps_tracker/gps_baro_merge.py

[Install]
WantedBy=multi-user.target
