[Unit]
Description=GPSD poller
After=redis-server.service

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/home/pi/GPSTracker/gps_tracker/gps_poller.py

[Install]
WantedBy=multi-user.target
