[Unit]
Description=jumper wifi off service

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/home/gpstracker/GPSTracker/gps_tracker/jumper_wifi_off.py

[Install]
WantedBy=multi-user.target
