[Unit]
Description=Pressure logger
After=redis-server.service

[Service]
Type=simple
User=gpstracker
Restart=on-failure
WorkingDirectory=/home/gpstracker/GPSTracker/gps_tracker
ExecStart=/home/gpstracker/GPSTracker/gps_tracker/pressure_logger.py

[Install]
WantedBy=multi-user.target
