[Unit]
Description=ULF2 poller
After=redis-server.service

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/home/pi/GPSTracker/gps_tracker/ulf2_poller.py

[Install]
WantedBy=multi-user.target
